@import '../../styles/variables';

.address {
  color: $background;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  span {
    white-space: nowrap;
    overflow: hidden;
    font-size: calculateRem(12);
    text-overflow: ellipsis;
    padding: 0 calculateRem(10);
  }
}

.avatar {
  width: 30px !important;
  height: 30px !important;
  border-radius: calculateRem(20);
  margin: 0 calculateRem(10);
}

@media (max-width: $desktop) {
  .address {
    .avatar {
      width: 10px !important;
      height: 30px !important;
    }
  }
}
